.exercise2-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise2-form-description {
  margin-bottom: 12px;
}

.exercise2-form-input {
  min-width: 600px;
}

.exercise2-form-submit-button {
  margin-top: 24px;
  cursor: pointer;
}
